body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:
    linear-gradient(45deg, #E0E0E0 25%, transparent 25%, transparent 25%, #E0E0E0 75%, #E0E0E0),
    linear-gradient(45deg, #E0E0E0 25%, transparent 25%, transparent 25%, #E0E0E0 75%, #E0E0E0);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  background-color: #1398c9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}