.hatCards {
    display: grid;
    grid-template-columns: repeat(3,300px);
    gap: 20px;
    flex-wrap: wrap;
}
.hatsDiv {
    background: url('./closet1.jpeg');
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh
}
